[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pytest-django = "*"
requests2 = "*"
urllib3 = ">=1.24.2"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-jwt = "*"
django-extensions = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true